@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

#cabecalho,
#home,
#QuemSomos,
#services,
#colaboradores,
#rodape {
  display: flex;
  flex: 1 1 100vw;
}

#cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f8fa;
}
.cabecalho__content {
  display: flex;
}
.cabecalho__logo {
  position: relative;
  right: 15vh;
  height: 10vh;
}
.cabecalho__logo img {
  height: 100%;
  mix-blend-mode: multiply;
}
.menu__button {
  position: relative;
  height: 5vh;
  left: 13vh;
  top: 3vh;
}
.menu__button img {
  height: 100%;
}
#cabecalho__menu {
  display: none;
}

#menu__links {
  padding: 3vh;
  width: 100vw;
}
#menu__links li {
  list-style: none;
  padding: 1vh;
}
#home {
  background-color: #f6f8fa;
  height: 40vh;
  overflow: hidden;
}
#home__content {
  padding: 2vh;

  display: flex;
  align-content: center;
}
#home img {
  position: relative;
  right: 10vh;
  mix-blend-mode: multiply;
}
.scroll__img {
  height: 5vh;
  width: 5vh;
  position: relative;
  bottom: 10vh;
}
.scroll__img img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #f1a477;
}
.content__text {
  width: 50%;
  margin-top: 3vh;
}
.content__text h1 {
  color: #f28749;
  font-family: Raleway;
}

.content__text p {
  font-size: 1em;
  color: black;
}
.content__text button {
  background-color: #f28749;
  color: white;
  padding: 1.4vh;
  border-radius: 2vh;
  border: none;
  position: relative;
  top: 8%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#QuemSomos {
  background-color: #f6f8fa;
}

.quemSomos__content__text {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15vh;
  padding: 2vh;
}
.border1 {
  background-color: #f1a477;

  width: 20%;
  height: 0.4vh;
  position: relative;
  bottom: 2vh;
  border-radius: 2vh;
}
.quemSomos__content__text h2 {
  padding-bottom: 3vh;
  font-size: 2em;
}
.quemSomos__content__text p {
  padding-bottom: 10vh;
}
.quemSomos__content__text small {
  font-weight: bold;
  padding-bottom: 5vh;
  color: #f28749;
}
.card__area {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card__body {
  background-color: white;
  width: 30vh;
  padding: 2vh;
  margin: 1vh;
  border-radius: 3vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.card__img {
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.card__img img {
  height: 100%;
  mix-blend-mode: multiply;
}
.card__text {
  text-align: center;
}
.card__text h2 {
  padding-bottom: 3vh;
}
.img__content {
  height: 20vh;
}
.img__content img {
  height: 100%;
}
#services {
  background-color: #f6f8fa;
}
#service__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services__text {
  margin-top: 20vh;
  padding: 2vh;
}
.border {
  background-color: #f1a477;
  width: 20%;
  height: 0.4vh;
  position: relative;
  bottom: 4vh;
  border-radius: 2vh;
}
.services__text small {
  padding-bottom: 4vh;
  font-weight: bold;
  color: #f28749;
}
.services__text h3 {
  padding-bottom: 5vh;
  font-size: 2em;
}
.services__cards__area {
  margin-top: 15vh;
}
.card__service__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vh;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.card__service__img {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2vh;
  height: 15vh;
}
.card__service__img img {
  height: 100%;
}
.card__service__body button {
  background-color: #f28749;
  color: white;
  border: none;
  border-radius: 2vh;
  margin-top: 1vh;
  padding: 1vh 4vh;
}
.card__service__text {
  text-align: center;
  padding: 3vh;
}
.card__service__text small {
  font-weight: bold;
  color: #f28749;
}
.card__service__text p {
  padding-top: 2vh;
}

#colaboradores {
}
#rodape {
}
