@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
}
body{
  scroll-behavior: smooth;
}
#cabecalho,
#home,
#QuemSomos,
#services,
#colaboradores,
#rodape {
  display: flex;
  flex: 1 1 100vw;
}

#cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f8fa;
}
.cabecalho__content {
  display: flex;
}
.cabecalho__logo {
  position: relative;
  right: 15vh;
  height: 10vh;
}
.cabecalho__logo img {
  height: 100%;
  mix-blend-mode: multiply;
}
.menu__button {
  position: relative;
  height: 5vh;
  left: 13vh;
  top: 3vh;
}
.menu__button img {
  height: 100%;
}
#cabecalho__menu {
  display: none;
}

#menu__links {
  padding: 3vh;
  width: 100vw;
}
#menu__links li {
  cursor: pointer;
  list-style: none;
  padding: 1vh;
}
#menu__links a {
  color: black;
  text-decoration: none;
}
#home {
  background-color: #f6f8fa;
  height: 40vh;
  overflow: hidden;
}
#home__content {
  padding: 2vh;

  display: flex;
  align-content: center;
}
#home img {
  position: relative;
  right: 10vh;
  mix-blend-mode: multiply;
}
.scroll__img {
  height: 5vh;
  width: 5vh;
  position: relative;
  bottom: 10vh;
}
.scroll__img img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #f1a477;
}
.content__text {
  width: 50%;
  margin-top: 3vh;
} 
.content__text {
  display: inline-block;
  margin: 0 0.5rem;

  animation:fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.content__text h1 {
  color: #f28749;
  font-family: Raleway;
}

.content__text p {
  font-size: 1em;
  color: black;
}
.content__text button { 
  text-align: center; 
  min-width: 95px;
  height: 35px;
  color: #fff;
  padding: 3px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 15px;
  border: none; 
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
  top: 5%; 
} 
.content__text button:hover {
  background-position: right center;
}
.content__text button:active {
  top: 2px;
}
#QuemSomos {
  background-color: #f6f8fa;
}
.wpplogo {
  height: 10vh;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

.quemSomos__content__text {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15vh;
  padding: 2vh;
}
.border1 {
  background-color: #f1a477;

  width: 20%;
  height: 0.4vh;
  position: relative;
  bottom: 2vh;
  border-radius: 2vh;
}
.quemSomos__content__text h2 {
  padding-bottom: 3vh;
  font-size: 2em;
}
.quemSomos__content__text p {
  padding-bottom: 10vh;
}
.quemSomos__content__text small {
  font-weight: bold;
  padding-bottom: 5vh;
  color: #f28749;
}
.card__area {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card__body {
  background-color: white;
  width: 30vh;
  padding: 2vh;
  margin: 1vh;
  border-radius: 3vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}   
.card__img :hover {
  display: inline-block;
  margin: 0 0.5rem;

  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s
}
.card__img {
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.card__img img {
  height: 100%;
  mix-blend-mode: multiply;
}
.card__text {
  text-align: center;
}
.card__text h2 {
  padding-bottom: 3vh;
}
.img__content {
  height: 20vh;
}
.img__content img {
  height: 100%;
}
#services {
  background-color: #f6f8fa;
}
#service__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services__text {
  margin-top: 20vh;
  padding: 2vh;
}
.border {
  background-color: #f1a477;
  width: 20%;
  height: 0.4vh;
  position: relative;
  bottom: 4vh;
  border-radius: 2vh;
}
.services__text small {
  padding-bottom: 4vh;
  font-weight: bold;
  color: #f28749;
}
.services__text h3 {
  padding-bottom: 5vh;
  font-size: 2em;
}
.services__cards__area {
  margin-top: 15vh;
}
.card__service__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vh;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.card__service__img {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2vh;
  height: 15vh;
}
.card__service__img img {
  height: 100%;
} 

.card__service__body button {
  background-color: #f28749;
  color: white;
  border: none;
  border-radius: 2vh;
  margin-top: 1vh;
  padding: 1vh 4vh;
  margin: 2vh;
} 

.card__service__text {
  text-align: center;
  padding: 3vh;
}
.card__service__text small {
  font-weight: bold;
  color: #f28749;
}
.card__service__text p {
  padding-top: 2vh;
}

#colaboradores {
  background-color: #f6f8fa;
  padding-bottom: 10vh;
}
.colaboradores__text h3 {
  padding-bottom: 3vh;
  font-weight: bold;
  font-size: 1.5em;
}
.colaboradores__text small {
  font-weight: bold;
  color: #f28749;
}
.colaboradores__text p {
  padding: 1vh;
}
.colaboradores__text {
  text-align: center;
  padding-top: 25vh;
}

.cards__area__team {
  padding-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__img2 {
  height: 30vh;
  background-color: #f28749;
  clip-path: circle();
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px #f1a477;
  border-radius: 50vh;
}
.card__img2 img {
  height: 100%;
  z-index: 0;
}

.card__text {
  padding: 2vh;
  text-align: center;
}
.card__text h3 {
  font-weight: bold;
  padding-bottom: 1vh;
  color: #f28749;
}
.card__text h4 {
  font-weight: bold;
  padding-bottom: 2vh;
}
.show__Text {
  background-color: black;
  padding: 1vh 1.5vh;
  color: white;
  border: none;
  border-radius: 3vh;
  font-weight: bold;
}
.apresentacao__colaborador {
  display: none;
}

#rodape {
  background-color: #ffffff;
  display: flex;
}
#rodape__content {
  display: flex;
  width: 100%;
  padding: 3vh;
}
.page__links {
  width: 40%;
}

.page__links ul li {
  padding: 1vh;
  list-style: none;
  font-weight: bold;
}
.page__links a {
  text-decoration: none;
  color: black;
}
.logo__rodape {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.logo__rodape img {
  height: 100%;
  mix-blend-mode: multiply;
  margin: 0;
}
.infos {
  padding: 1vh;
}
.info__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__social ul {
  list-style: none;
  display: flex;
}
.info__social ul img {
  height: 3vh;
  margin: 1vh;
}
.info__local {
  padding-top: 2vh;
  display: flex;
}
.info__local img {
  height: 3vh;
  margin: 1vh;
}

.info__contact {
  padding-top: 2vh;
  display: flex;
}
.info__contact img {
  height: 5vh;
  mix-blend-mode: multiply;
}
/* RESONSIVO TALBET*/
@media (min-width: 768px) {
  #home {
    background-color: #f6f8fa;
    height: 40vh;
    overflow: hidden;
  }
  #home__content {
    padding: 2vh;

    display: flex;
    align-content: center;
  }
  #home__content h1 {
    font-size: 3em;
  }
  #home__content p {
    font-size: 1em;
  }
  #home__content button {
    background-color: #f28749;
    color: white;
    padding: 2vh;
    border-radius: 2vh;
    border: none;
    position: relative;
    top: 8%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-size: 1.05em;
  }
  #home img {
    position: relative;
    right: 1vh;
    mix-blend-mode: multiply;
  }
  .card__area {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1vh;
  }
  .card__body {
    background-color: white;
    width: 31%;
    padding: 2vh;
    margin: 1vh;
    border-radius: 3vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
  }
  #services {
    background-color: #f6f8fa;
  }
  #service__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services__text {
    margin-top: 20vh;
    padding: 2vh;
    text-align: center;
  }
  .border {
    background-color: #f1a477;
    width: 30%;
    height: 0.4vh;
    position: relative;
    bottom: 4vh;
    border-radius: 2vh;
    left: 25vh;
  }
  .services__text small {
    padding-bottom: 4vh;
    font-weight: bold;
    color: #f28749;
  }
  .services__text h3 {
    padding-bottom: 5vh;
    font-size: 2em;
  }
  .services__cards__area {
    margin-top: 15vh;
  }
  .card__service__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .card__service__img {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 2vh;
    height: 15vh;
  }
  .card__service__img img {
    height: 100%;
  }
  .card__service__body button {
    background-color: #f28749;
    color: white;
    border: none;
    border-radius: 2vh;
    margin-top: 1vh;
    padding: 1vh 4vh;
    margin: 2vh;
  }
  .card__service__text {
    text-align: center;
    padding: 3vh;
  }
  .card__service__text small {
    font-weight: bold;
    color: #f28749;
  }
  .card__service__text p {
    padding-top: 2vh;
  }

  #cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f8fa;
  }
  .cabecalho__content {
    display: flex;
  }
  .cabecalho__logo {
    position: relative;
    right: 30vh;
    height: 10vh;
  }
  .cabecalho__logo img {
    height: 100%;
    mix-blend-mode: multiply;
  }
  .menu__button {
    position: relative;
    height: 5vh;
    left: 25vh;
    top: 3vh;
  }
  .menu__button img {
    height: 100%;
  }
  #cabecalho__menu {
    display: none;
  }

  #menu__links {
    padding: 3vh;
    width: 100vw;
  }
  #menu__links li {
    list-style: none;
    padding: 1vh;
  }
  #menu__links a {
    color: black;
    text-decoration: none;
  }
}
/*RESPONSIVO PC*/
@media (min-width: 900px) {
  #cabecalho {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    height: auto;
  }
  #cabecalho__menu {
    display: flex;
    width: 50%;
  }
  .cabecalho__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    flex-direction: row;
    height: 100%;
  }
  .cabecalho__logo {
    position: relative;
    height: 20vh;
  }
  .cabecalho__logo img {
    height: 100%;
    mix-blend-mode: multiply;
  }
  .menu__button {
    display: none;
  }
  .menu__button img {
    height: 100%;
    display: none;
  }

  #menu__links {
    display: block;
    padding: 3vh;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    word-wrap: none;
    width: auto;
    bottom: 0;
  }

  #menu__links li {
    list-style: none;
    display: inline;
    padding: 2vh; 
    font-size: 0.8em;
  }
  #menu__links li:hover {
    background-color: #f4f4f4;
    border-bottom: 2px solid #f28749;
    font-weight: bold;
  }
  #menu__links a {
    color: black;
    text-decoration: none;
  }
  #home {
    background-color: #f6f8fa;
    height: 85vh;
    overflow: hidden;
  }
  #home__content {
    padding: 2vh;
    display: flex;
    align-content: center;
  }

  .content__text {
    position: relative;
    padding: 2vh;
    top: 10vh;
    width: 40vw;
  }
  #home__content h1 {
    font-size: 2.4em;
  }
  #home__content p {
    font-size: 1em;
    width: 40vh;
  }

  #home img {
    position: relative;
    left: -16vh;
    mix-blend-mode: multiply;
    height: 95vh;
  }
  #QuemSomos {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .card__area {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1vh;
  }
  .card__body {
    background-color: white;
    width: 20%;
    padding: 2vh;
    margin: 2vh;
    border-radius: 3vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  .quemSomos__content__text {
    text-align: center;
  }
  #services {
    background-color: rgb(63, 63, 63);
    padding-bottom: 10vh;
  }
  #service__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services__text {
    margin-top: 20vh;
    padding: 2vh;
    text-align: center;
    width: 50%;
  }
  .services__text smaal {
    color: white;
  }
  .services__text h3 {
    color: white;
  }
  .services__text p {
    color: white;
  }
  .border {
    background-color: #f1a477;
    width: 10%;
    height: 0.5vh;
    position: relative;
    bottom: 4vh;
    border-radius: 2vh;
    left: 44vh;
  }
  .services__text small {
    padding-bottom: 4vh;
    font-weight: bold;
    color: #f28749;
  }
  .services__text h3 {
    padding-bottom: 5vh;
    font-size: 2em;
  }
  .services__cards__area {
    margin-top: 15vh;
  }
  .card__service__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .card__service__img {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 2vh;
    height: 15vh;
  }
  .card__service__img img {
    height: 100%;
  }
  .card__service__body button {
    background-color: #f28749;
    color: white;
    border: none;
    border-radius: 2vh;
    margin-top: 1vh;
    padding: 1vh 4vh;
    margin: 2vh;
  }
  .card__service__text {
    text-align: center;
    padding: 3vh;
  }
  .card__service__text small {
    font-weight: bold;
    color: #f28749;
  }
  .card__service__text p {
    padding-top: 2vh;
  }
  #QuemSomos,
  #services,
  #rodape,
  #colaboradores {
    overflow: hidden;
  }

  #rodape {
    background-color: #ffffff;
    display: flex;
  }
  #rodape__content {
    display: flex;
    width: 100%;
    padding: 3vh;
  }
  .page__links {
    width: 30%;
  }

  .page__links ul li {
    padding: 1vh;
    list-style: none;
    font-weight: bold;
  }
  .page__links a {
    text-decoration: none;
    color: black;
  }
  .logo__rodape {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }

  .logo__rodape img {
    height: 100%;
    mix-blend-mode: multiply;
    margin: 0;
  }
  .infos {
    padding: 1vh;
  }
  .info__social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info__social ul {
    list-style: none;
    display: flex;
  }
  .info__social ul img {
    height: 5vh;
    margin: 1vh;
  }
  .info__local {
    padding-top: 2vh;
    display: flex;
  }
  .info__local img {
    height: 3vh;
    margin: 1vh;
  }

  .info__contact {
    padding-top: 2vh;
    display: flex;
  }
  .info__contact img {
    height: 5vh;
    mix-blend-mode: multiply;
  }
}
 
